{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %} Login {% endblock title %} 

{% block content %}
<h1>Login</h1>
<form action="" method="POST">
    {% csrf_token %}
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Username</label>
        <input type="text" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" name="password" class="form-control" id="exampleInputPassword1">
    </div>
    {% comment %} {{form|crispy}} {% endcomment %}
    <p>Don't have an account? Create one <a href="{% url 'home' %}">Here</a></p>
    <button type="submit" value="submit "class="btn btn-success">Login</button>
</form>
{% endblock content %}

